<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.myapp.dao.DeveloperMapper">
    <select id="findAll" resultType="com.shop.myapp.dto.DeveloperDTO">
        select * from developer
	</select>
    <select id="getDeveloper" resultType="com.shop.myapp.dto.DeveloperDTO">
        select * from developer where id=#{id}
	</select>
    <delete id="deleteDeveloper" parameterType="long">
        DELETE FROM developer
        WHERE id=#{id}
    </delete>
    <insert id="insert" parameterType="com.shop.myapp.dto.DeveloperDTO">
        INSERT INTO developer
        SET
        <if test="name!=null">
            name=#{name},
        </if>
        <if test="field!=null">
            field=#{field}
        </if>
    </insert>

    <update id="update" parameterType="com.shop.myapp.dto.DeveloperDTO">
        UPDATE developer
        SET
        <if test="name!=null">
            name=#{name},
        </if>
        <if test="field!=null">
            field=#{field}
        </if>
        WHERE id = #{id}
    </update>
</mapper>